# Natural Language Processing 

## Prepare Module

In [1]:
# Import functions
import requests
from bs4 import BeautifulSoup

import acquire
import prepare

import warnings
warnings.filterwarnings('ignore')

### News DataFrame

In [13]:
# Acquire news df

news_df = acquire.get_news_articles()
news_df.head(3)

,category,title,content,author,published
0,business,Rupee hits all-time low of 77.42 against US dollar,"The Indian rupee fell to an all-time low of 77.42 against the US dollar on Monday, Reuters reported. Asian markets were lower on Monday as US stock futures fell on fears of more policy tightening from the Federal Reserve and strict lockdown in Shanghai impacting global growth, according to Reuters.",Apaar Sharma,2022-05-09T05:05:31.000Z
1,business,"Bitcoin falls to the lowest level since January, trades below $34,000","Bitcoin fell on Monday to as low as $33,266 in morning trade, nearing January's low of $32,951 as slumping equity markets continued to hurt cryptocurrencies. It then steadied to trade above $33,600. According to BBC, the world's largest cryptocurrency has fallen by 50% since its peak in November 2021.",Pragya Swastik,2022-05-09T09:20:34.000Z
2,business,Made best possible decision: IndiGo on barring differently-abled child from flight,"IndiGo's CEO Ronojoy Dutta said the airline made ""the best possible decision"" by barring a differently-abled teenager and his family from boarding a Ranchi-Hyderabad flight. ""At boarding area, the teenager was visibly in panic...the airport staff, in line with safety guidelines, were forced to make a difficult decision,"" Dutta said. IndiGo offered to purchase an electric wheelchair for the child.",Pragya Swastik,2022-05-09T09:50:34.000Z

In [30]:
df = prepare.basic_clean('he Indian rupee fell to an all-time low of 77.42 against the\
                         US dollar on Monday, Reuters reported. Asian markets were lower \
                         on Monday as US stock futures fell on fears of more policy tightening \
                         from the Federal Reserve and strict lockdown in Shanghai impacting global \
                         growth, according to Reuters.')
df

'he indian rupee fell to an alltime low of 7742 against the                         us dollar on monday reuters reported asian markets were lower                          on monday as us stock futures fell on fears of more policy tightening                          from the federal reserve and strict lockdown in shanghai impacting global                          growth according to reuters'

### CodeUp DataFrame

In [4]:
codeup_df = acquire.get_blog_articles()
codeup_df

    title  published  content
0     NaN        NaN      NaN
1     NaN        NaN      NaN
2     NaN        NaN      NaN
3     NaN        NaN      NaN
4     NaN        NaN      NaN
5     NaN        NaN      NaN
6     NaN        NaN      NaN
7     NaN        NaN      NaN
8     NaN        NaN      NaN
9     NaN        NaN      NaN
10    NaN        NaN      NaN
11    NaN        NaN      NaN
12    NaN        NaN      NaN
13    NaN        NaN      NaN
14    NaN        NaN      NaN